# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*   @googleapis/senseai-eco-team
# Code & Tests
**/alloydb*/ @googleapis/toolbox-alloydb-team
**/bigquery/ @googleapis/toolbox-bigquery-team
**/bigtable/ @googleapis/toolbox-bigtable-team
**/cloudsqlmssql/ @googleapis/toolbox-cloud-sql-mssql-team
**/cloudsqlmysql/ @googleapis/toolbox-cloud-sql-mysql-team
**/cloudsqlpg/ @googleapis/toolbox-cloud-sql-postgres-team
**/dataplex/ @googleapis/toolbox-dataplex-team
**/firestore/ @googleapis/toolbox-firestore-team
**/looker/ @googleapis/toolbox-looker-team
**/spanner/ @googleapis/toolbox-spanner-team

# Docs
/docs/ @googleapis/senseai-eco-team 
/*.md @googleapis/senseai-eco-team
